@inject HttpClient Http
@using System.Text.Json;
@using HIS.AutoUpdate.Blazor.Models;
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Runtime.Serialization.Formatters;
@inject MessageService _message
@using System.ComponentModel.DataAnnotations;
@using Microsoft.Extensions.Options;
@inject IJSRuntime JSRuntime;
@inject IOptionsSnapshot<MyProSettings> MyProSettings;

<Form Model="@model"
      LabelColSpan="8"
      WrapperColSpan="16">
    <FormItem Label="站点">
        <Input Disabled Placeholder="configFileName" @bind-Value="@Site.Name" />
    </FormItem>
    <FormItem Label="文件">
        <Upload Action=@Site.ServerUploadUri
                Name="files"
                accept=".zip"
                @bind-FileList="fileList"
                ShowButton="fileList?.Count < 1"
                ListType="picture-card"
                Data="dict"
                OnChange="HandleChange">
            <div>
                <Icon Type="plus"></Icon>
                <div className="ant-upload-text">Upload</div>
            </div>
        </Upload>
    </FormItem>
</Form>


@code
{
    [Parameter]
    public Site Site { get; set; }
    private Model model = new Model();

    Dictionary<string, object> dict = new Dictionary<string, object>()
    {
        { "siteName", ""}
    };

    protected override void OnInitialized()
    {
        dict["siteName"] = Site.Name;
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine($"OnAfterRender, firstRender:{firstRender}");
        dict["siteName"] = Site.Name;
        base.OnAfterRender(firstRender);
    }

    public class Model
    {

        [Required]
        public string CurrentVersionURL { get; set; }

    }

    List<UploadFileItem> fileList = new List<UploadFileItem>
    {

    };

    async Task HandleChange(UploadInfo fileinfo)
    {
        try
        {
            if (fileinfo.File.State == UploadState.Success)
            {
                await _message.Success("文件上传成功！！！");
                fileinfo.File.Url = fileinfo.File.ObjectURL;
            }
            else if(fileinfo.File.State == UploadState.Fail)
            {
                await _message.Error($@"上传失败！！！{fileinfo.File.FileName}");
            }

        }
        catch (Exception ex)
        {

            await _message.Error(ex.Message);
        }

    }


}

<style>
    /* you can make up upload button and sample style by using stylesheets */
    .ant-upload-select-picture-card i {
        color: #999;
        font-size: 32px;
    }

    .ant-upload-select-picture-card .ant-upload-text {
        margin-top: 8px;
        color: #666;
    }
</style>